body {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    color: #424242;
    size: 20px;
    text-decoration: none;
}

a:visited {
    color: #8F8E8E;
}

a:hover {
    color: blue;
}
.content{
    width: 100%;
    max-width: 1139px;
    margin: 0 auto;
}
.wrap_header_top {
    background: #1a73e8;
    height: 58.78px;  
    display: flex;
    align-items: center;
}

.nav_top {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 0 auto;
}

.nav_top_img {
    display: flex;
    align-items: center;
    max-width: 556.77px;
    width: 100%; 
}

.nav_top img {
    max-width: 18x;
    max-height: 18px;
}
.nav_top_span{
    font-weight: bold;
    font-size: 14px;
    padding: 0 5px 0 3px;

}
.nav_top_img a{
    color: #d6d6d6;
}

.social-icons ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 183.97px;
    height: 100%;
    max-height: 28.8px;
}

.social-icons li {
    display: inline-block;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.social-icons li a {
    border-bottom: none;
}

.social-icons li img {
    width: 14px;
    height: 14px;
    padding: 0 1px;
}

.logo img {
    max-width: 140px;
    max-height: 35px;
}

.search_button img {
    max-width: 30px;
    max-height: 20px;
}

.wrap_navbar_bottom {
    background:  white;
    height: 102.39px;
    display: flex;
    align-items: center;
}

.navbar_bottom {
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap_blog{
  background: #eeeeee;  
  height: 76.61px;
  display: flex;
  align-items: center;
}
.blog{
    padding: 10px 0;
}
.blog span{
font-weight: 900;
font-size: 25px;

}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.menu li a {
    color: #424242;
    text-decoration: none;
}

.menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: black;
    display: block;
    transition: 0.3s;
}
/* Адаптивность 1024 */
@media (max-width: 1025px) {
       .content{
            width: 100%;
            max-width: 921.95px;
            margin: 0 auto;
        }
    }
    /* Адаптивность 768 */
@media (max-width: 769px) {
       .content{
            width: 100%;
            max-width: 691.35px;
            margin: 0 auto;
        }        
    .wrap_header_top {
        height: 92.58px;  
         }
    .nav_top_img {
        flex-wrap: wrap;
    max-width: 519.73px;
    width: 100%; 
}
.social-icons ul{
    width: 100%;
    max-width: 171.74px;
    height: 100%;
    max-height: 62.59px;
}

    }
/* Адаптивность для мобильных */
@media (max-width: 960px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: rgb(38, 38, 38);
        position: absolute;
        top: 50px;
        right: 0;
        width: 50%;
    }

    .menu li a {
        color: #eeeeee;
        text-decoration: none;
        margin: 30px;
    }

    .navbar {
        background-color: white;
    }

    .search_button {
        display: none;
    }

    .menu-toggle:checked+.hamburger+.menu {
        display: flex;
    }

    .hamburger {
        display: flex;
        position: absolute;
        right: 20px;
        top: 15px;
    }
}